.cp-assess{
	.icon-icon-success{
		font-size: 66px;
		color: #549800;

	}
}
.cp-assessing{
	textarea{
		border: 1px solid #ccc;
		width: 100%;
		padding: 5px;
		-webkit-appearance: none;
	}
	.cp-assessing-list-box{
		.cp-assessing-list-hd{
			font-size: 12px;
			color: #333;
			.dingdanhao{ padding:10px; background: #f5f5f5;}
		}
		.cp-assessing-list-bd{
			.list-box{
				padding: 10px;
				ul li{
					width: calc(25% - 10px);
					text-align: center;
					float: left;
					border: 1px solid #e6e6e6;
					padding: 3px;
					margin-right: 10px;
					margin-bottom: 8px;
					&:nth-child(4n){
						margin-right: 0;
					}
					a{
						display: block;
					}
				}
			}
		}
	}
}