.cp-user-list{
	padding-top: 20px;
	li.item{ margin-left: 0; margin-right: 0;}
	li.cp-radio{ line-height: 28px;}
	li.item-avatar-right h2{ line-height: 40px;}
	.item{ 
		.fl{ margin-bottom: 0px;} 
		.fr{ line-height: 19px;}
	}
}
.cp-setting-list {
	.item{ padding-top: 12px; padding-bottom: 12px;
		> .icon{font-size: 30px; color: #999;}
	}
	.item-hide{ background: #fff; display: none;
				p{ line-height: 24px; color: #333; font-size: 14px;}
	}
}
.cp-setting-list.cp-about-list{
	>.item-hide{ display: block;}
}

// password-change
.cp-password-change{
	.button-disabled{
		background: #dbdbdb;
		border: none; color: #999;	}
}

// user-my
.cp-user-my-box{
	background: url(../images/user-my.png) center center no-repeat; background-size: cover;
	.list .item{ background: transparent; border: none;
				h2,p{ color: #fff;}
	}
	.cp-user-my-box-hd{
		.list .item{ min-height: 80px;}
	}
	.cp-user-my-box-bd{
		background: rgba(#000, .4);
		.list{width: 50%; margin-bottom: 0;
			h2{ font-size: 14px; margin-top: 6px;}
			p{ font-size: 12px;}
			.item{ padding: 10px 10px 10px 60px; min-height: 60px;}
			.item-avatar>i:first-child{ position: absolute; top: 11px; left: 16px;max-height: 40px; max-width: 40px; width: 100%; height: 100%; font-size: 40px; color: #fff;}
		}
	}
}

.cp-user-my-dingdan{
	.list{
		.dd-cp-list-item .tabs{
			.tab-item{ overflow: visible; position: relative;}
		}
		&:first-child{ margin-bottom: 0;}
		margin-top: 10px;
		.item { padding-right: 38px;
				i:first-child{
				font-size: 24px; color: #ff8885;
				+ .item-note.fl{ color: #000;}
			}
		}
	}
}