.cp-user-list{
	padding-top: 20px;
	li.item{ margin-left: 0; margin-right: 0;}
	li.cp-radio{ line-height: 28px;}
	li.item-avatar-right h2{ line-height: 40px;}
	.item{ 
		.fl{ margin-bottom: 0px;} 
		.fr{ line-height: 19px;}
	}
}
.cp-setting-list {
	.item{ padding-top: 12px; padding-bottom: 12px;
		> .icon{font-size: 30px; color: #999;}
	}
}
.cp-help-list{
	.item{
		.icon.icon-icon-arrow-right{ -webkit-transition: all .5s ease;
		   -moz-transition: all .5s ease;
		    -ms-transition: all .5s ease;
		     -o-transition: all .5s ease;
		        transition: all .5s ease;
			&.curr{
				-webkit-transform: rotate(90deg);
				   -moz-transform: rotate(90deg);
				    -ms-transform: rotate(90deg);
				     -o-transform: rotate(90deg);
				        transform: rotate(90deg);
			}
		}
	}
	.icon-help{
		position: absolute;
		top: 12px;
		left: 16px;
		font-size: 30px;
	}
}
.cp-help-list .item-hide{ background: #fff; display: none;
			p{ line-height: 24px; color: #333; font-size: 14px;}
}
.cp-about-list{
	>.item-hide{ display: block;
				p{ line-height: 24px; color: #333; font-size: 14px;}
	}
}

// password-change
.cp-password-change{
	.button-disabled{
		background: #dbdbdb;
		border: none; color: #999;	}
}

// user-my
.cp-user-my-box{
	background: url(../images/user-my.png) center center no-repeat; background-size: cover;
	.list .item{ background: transparent; border: none;
				h2,p{ color: #fff;}
	}
	.cp-user-my-box-hd{
		.list .item{ min-height: 80px;}
	}
	.cp-user-my-box-bd{
		background: rgba(#000, .4);
		.list{width: 50%; margin-bottom: 0;
			h2{ font-size: 14px; margin-top: 6px;}
			p{ font-size: 12px;}
			.item{ padding: 10px 10px 10px 60px; min-height: 60px;}
			.item-avatar>i:first-child{ position: absolute; top: 11px; left: 16px;max-height: 40px; max-width: 40px; width: 100%; height: 100%; font-size: 40px; color: #fff;}
		}
	}
}

.cp-user-my-dingdan{
	.list{
		.dd-cp-list-item .tabs{
			.tab-item{ overflow: visible; position: relative;}
		}
		.cp-list-tabs .col-25 {
			.badge{ position: absolute; top: -6px; right: -6px;}
			i{ background: transparent;position: relative;}
		}
		.scrollBox2 .bd li{ width: 25%;}
		&:first-child{ margin-bottom: 0;}
		margin-top: 10px;
		.item { padding-right: 38px;
				i:first-child{
				font-size: 24px; color: #ff8885;
				+ .item-note.fl{ color: #000;}
			}
		}
	}
}

// user-my-dd
.cp-user-dingdan-hd{
	border-bottom: .5px solid #ccc;
	.col{
		font-size: 14px;
		&.on{ color: $red; border-bottom: 1px solid $red;}
	}
}
// cp-user-my-dingdan-con
.cp-user-my-dingdan-con{
	.item.item-icon-right{
		padding-right: 45px;
		padding-top: 20px;
		padding-bottom: 20px;
		.item-note{ color: $red;}
		.item-dingdan-left{
			position: absolute;
			left: 10px;
			top: 6px;
			font-size: 14px;
			width: 60%;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
		}
		.icon.icon-icon-arrow-bottom{
			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;
			&.curr{
				-webkit-transform: rotate(180deg);
				   -moz-transform: rotate(180deg);
				    -ms-transform: rotate(180deg);
				     -o-transform: rotate(180deg);
				        transform: rotate(180deg);
			}
		}
	}
	.cp-user-dingdan-bd{
		.con{ overflow: hidden; display: none;}
		.con .list{ padding-top: 10px; margin-bottom: 0;
			.item-hide{ display: none; margin-top: 1px;
				.button-small.cp-button-pay{padding: 2px 15px 1px; font-size: 14px;}
				.item-hide-box{margin-top: -2px;}
				.title-hidden{ padding-top: 5px;}
				.item-thumbnail-left{ padding-left: 100px; padding-right: 75px; white-space: normal; line-height: 1.5; padding-top: 18px; color: #333;
					&:last-child{border-bottom: 0;}
				}
			}
		}
		.dingdan-price{position: absolute; top: 21px; right: 10px;
			.dingdan-price-rmb{ color: #333; font-size: 14px;
				&::before{
					content: '￥';
					color: #333;
				}
			}
			.dingdan-price-num{ color: #fff; font-size: 14px; background: #f9a436; @include border-radius(10px);text-align: center; max-width: 40px; margin-left: auto;
				&::before{
					content: 'x';
					color: #fff;
				}
			}
		}
		.dingdan-togal{
			font-size: 14px;
			color: #333;
			background: #fff;
			.dingdan-sl{
				margin-right: 5px;
				.dd-num{ margin: 0 3px;}
			}
			.dingdan-hj{
				.dd-price{ color: $red;
					&::before{
						content: '￥';
					}
				}
			}
		}
	}
}