@import "compass";
$bg: #f7f7f7; $red: #d13926; $borcolor: #ececec;
body { background: $bg; }
.nopadding { padding: 0 !important; }
.nomar{ margin: 0!important;}
.padding-vertical{ padding: 40px 0;}
.padding-v { padding: 10px 0; }
.padding-h { padding: 0 10px; }
.padding { padding: 10px; }
.circle { border-radius: 50%; }
.text-center { text-align: center }
.img-pons { width: 100%; height: auto; }
.fl { float: left; }
.fr { float: right; }
.red { color: $red; }
.white{ color: #fff!important;}
.cp-price { color: $red; font-size: 18px; border-top: 1px solid #e7e7e7; line-height: 30px; margin-bottom: 0; }
.cp-price .rmb { font-size: 12px; }
.cp-price .fr { color: #999; font-size: 14px; }
.clearfix { @include pie-clearfix(); }
.text-hidden1 { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.text-hidden2 { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.span-red { width: 5px; height: 18px; display: inline-block; background: $red; margin: 6px 6px 6px 0; }
.bar-assertive{border-color:#e42112;background-color:#ef473a;color: #fff; display:flex;}
.bar-table{border-color:#b9b9b9; border-bottom: 1px solid #b9b9b9; background-color:$borcolor;color: #000; display:flex;}
.cp-bar-header{ position: fixed; top: 0; z-index:9999; width: 100%; padding: 5px; height: 44px; overflow: hidden;}
.cp-title{position:absolute;top:0;right:0;left:0;z-index:0;overflow:hidden;margin:0 10px;min-width:30px;height:43px;text-align:center;text-overflow:ellipsis;white-space:nowrap;font-size:17px;font-weight:500;line-height:44px;}
.cp-bar-header .button{z-index:1;padding:0 8px;min-width:initial;min-height:31px;font-weight:400;font-size:13px;line-height:32px;}
.cp-bar-header .button.button-clear{padding-right:2px;padding-left:2px;font-weight:300;font-size:17px;}
.cp-con{ margin-bottom:49px;}
.cp-include-con{ margin-top: 44px; overflow: hidden;}
/*top */
.cp-gotop{ width: 50px; height: 50px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; position: fixed; bottom: -100px; right: 20px; text-align: center; color: #d4362a; border: 1px solid #e7e7e7; padding-top: 25px; z-index:99; background: #fff url(../images/gotop.png) center 8px no-repeat; -webkit-background-size: 20px 20px;
background-size: 20px 20px;}
// tabs
.cp-list-tabs { margin: 8px 0; border-top: 1px solid $borcolor; border-bottom: 1px solid $borcolor; }
.cp-list-tabs .col-25 i { width: 46px; height: 46px; background: $red; display: block; margin: 0 auto 8px; }
/*cp-bar-footer*/
.cp-bar-footer{position: fixed; bottom: 0; width: 100%; height: 49px; z-index: 9999;}
.cp-bar-footer .tabs-icon-top.tabs .tab-item{ font-size: 14px; line-height: 7px;}
.cp-bar-footer .tabs-icon-top.tabs .tab-item.current{color: #d4362a;}
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

// search
.cp-bar-header .item-input-wrapper {
	background: #fff;
	input{padding: 5px 5px 5px 34px;}
	position: relative;
}
.cp-icon-search{ position: absolute; left: 5px; width: 29px; height: 29px;text-align: center;line-height:29px; background: url(../images/search2.png) center center no-repeat; background-size: 20px 20px; }
//  transition: all 0.3s ease-in;
// icon
.icon{ display: inline-block; font-size: 30px; margin: 0 auto; height: 30px;}

// error表单
.cp-error{ font-size: 14px; line-height: 24px; margin-bottom: 5px;}
.icon-error{ padding-left: 25px; line-height: 30px; background: url(../images/error.png) left center no-repeat; background-size: 20px 20px; }
.icon-check{}
// input
.cp-input-group .item-input{border: 1px solid #b2b2b2; background: #fff; margin-bottom: 10px; padding-bottom: 4px;border-radius: 2px;
							>input{line-height: 24px; font-size: 18px}
}
// yzm
.cp-yzm{ width: 120px; margin-right: 6px;}
// p-color
.cp-p-color{ color: #999; font-size: 14px;}
// nav面包屑
.breadcrumb{line-height: 39px; height:39px; font-size: 12px; margin-bottom: 10px; color: #999;}
.breadcrumb span{padding:0 4px}
// 直线
.line{font-size: 0px; line-height: 0px; border-top: solid 1px #d13926; float: none; margin-bottom: 10px;}